nav {
    text-align: right;
}
a {
    background-color: #B84100;
    padding: 5px;
}
body {
    font-family: Roboto;
    background-color: #B87A00;
    color: #1C3038;      
}
ul {
    background-color: #B84100;
    color:#382F1C;
    border: solid 2px #382F1C;
    width: max-content;
}
li {
    padding: 10px;
}
h1, h2 {
    color: #0085B8;
    background-color: #B84100;
    width: max-content;
    text-decoration: underline overline 4px;
    padding: 10px;
    border: solid 2px #382F1C;
}
header, footer {
    background-color: #0085B8;
    padding: 10px;
    text-align: center;
}